body{ 
    font-family: 'Ariel', 'Helvetica Neue', 'Helvetic', sans-serif;
    font-size: 18px;
    background-image: url("https://www.toptal.com/designers/subtlepatterns/patterns/gravel.png")
}

#fixed{
    position: fixed;
    left: 15%;
    padding-top: 10px;
    text-align: center;
    font-weight: bold;
    height: 50px;
    width: 300px;
    background-color: #4aaaa5;
    overflow: visible;
    color: #ffffff;
    font-family: 'Georgia', Times, Times New Roman, serif;
}

.header{
    height: 60px;
    background-color: #ffffff;
    font-family: 'Georgia', 'Times', 'Times New Roman', serif;
    border-color: #cccccc;
    border-style: solid;
}

#about1{
    float: right;
    padding: 10px;
}

#contact{
    float: right;
    padding: 10px;
}

#portfolio{
    float: right;
    padding: 10px;
}

.container{
    position: relative;
    margin: 20px 200px 40px 200px;
    background-color: #ffffff;
    width: 960px;
    padding: 20px;
    border-style: solid;
    border-color: #cccccc;
    color: #777777
}

#about{
    color: #4aaaa5;
}

p {
    color: #777777;
}

.clearfix::after {
    content: "";
    display: block;
    clear: both;
}

#bio-image,
#main-bio{
    float:left;
}

.footer{
    height: 50px;
    background-color: #666666;
    text-align: center;
    font-family: 'Ariel', 'Helvetica Neue', 'Helvetica', sans-serif;
    font-size: 60%;
    padding-top: 10px;
    border-top: 8px solid #4aaaa5;
}

#bio-image{
    width: 200px;
    height: 200px;
    margin-right: 20px;
}

#name-content,
#email-content{
    border-style: solid;
    border-color: #cccccc;
    color: #777777;
    height: fit-content;
    width: 960px;
}

#message-content{
    border-style: solid;
    border-color: #cccccc;
    color: #777777;
    height: 150px;
    width: 960px;
}

#submit{
    background-color: #4aaaa5;
    color: #ffffff;
    padding: 2px 14px 4px;
}

.portfolio{
    position: relative;
    margin: 20px 200px 40px 200px;
    background-color: #ffffff;
    width: 960px;
    height: 800px;
    padding: 20px;
    border-style: solid;
    border-color: #cccccc;
    color: #777777;
}
.box-set{
    font-size: 10px;
    text-align: center;
    vertical-align: text-bottom;
}

.box{
    position: absolute;
    width: 150px;
    height: 175px;
    border: 2px solid #777777;
}

.box-1{
    top: 12%;
    left: 2%;
}
.box-2{
    top: 12%;
    right: 35%;
}
.box-3{
    top: 36%;
    left: 2%;
}
.box-4{
    top: 36%;
    right: 35%;
}
.box-5{
    top: 60%;
    left: 2%;
}